.personaje_container {
  flex: 1 0 25%;
  word-wrap: break-word;
  margin: 25px;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  height: 90%;
  text-align: center;
  width: min-content;
}

.personaje_container img {
  width: auto;
  height: auto;
}

.personaje_container .personaje_body {
  padding: 20px;
}

.personaje_container .personaje_body h3 {
  font-size: 28px;
  margin: 0px;
  color: #35c9dd;
}

.personaje_container .personaje_body hr {
  border: 0;
  background-color: #02afc5;
  height: 1px;
}

.personaje_container .personaje_body ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.personaje_container .personaje_body ul li {
  padding: 10px;
  border-bottom: 1px dotted #cecece;
}

.personaje_container .personaje_body ul li:last-child {
  border-bottom: 0px;
}
